# Compiled class files
target/
*.class

# Logs
*.log

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS files
.DS_Store
Thumbs.db

# Maven Wrapper downloaded files (необязательно)
.mvn/wrapper/maven-wrapper.jar